# For information about this file, see: https://editorconfig.org/
root = true

# For ease of fitting multiple editor panes side by side consistently, set all files types to use
# the same relaxed max line length permitted in PEP 8.
[*]
max_line_length = 99
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.yml]
indent_size = 2
